<template>

	<div class="messagebox">
		
		 <p>
		 	<slot></slot>
		 </p>

	</div>
	
</template>



<script>
	
	export default {

	}
	
</script>



<style>
	.messagebox {
		background-color: #E3E3E3;
		padding: 10px;
		border: 1px solid #000;
		margin-bottom: 10px;
	}
</style>