<template>
    <div class="container">
        <div class="columns">
            <div class="column"> 
                <div class="message" v-for="status in statuses">
                    <div class="message-header">
                        <p> {{ status.username }} said... </p>
                        <p> {{ status.created_at | ago | capitalize }} </p>
                    </div>
                    
                    <div class="message-body">
                        <p> {{status.body}} </p>
                    </div>
                </div>
                <add-to-stream @completed="addStatus"></add-to-stream>
            </div>
        </div>
    </div>
</template>

<script>
    import AddToStream from '../components/AddToStream.vue';

    export default {
        components: {
            AddToStream
        },

        data() {
            return {
                statuses: []
            }
        },

        created() {
            axios.get('api/statuses').then(({data}) => this.statuses = data);
        },

        methods: {
            addStatus(status) {
                this.statuses.unshift(status);
                alert("You're status has been changed");
                window.scrollTo(0,0);
            }
        },

        filters: {
            ago(date) {
                return moment.utc(date).fromNow();
            }, 
            capitalize(value) {
                return value.toUpperCase();
            }
        },

        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
