<template>
	<div>
		<h1>Current Count: {{ count }}</h1>

		<p><button @click="count += 5">Increment count</button></p>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				count: 0,
			};
		}
	}
</script>

<style>
	
</style>