<template>

  <div id="app">
      
      <message>Hello there!</message>
      <message>Hi again!</message>
      <othertemplate>This is another template</othertemplate>

  </div>
  
</template>

<script>

import Message from './components/Message.vue';
import Othertemplate from './components/Othertemplate.vue';

export default {
  name: 'app',

  components: { Message, Othertemplate }, 

  data () {
    return {
      
    }
  }
}
</script>



<style>
  
</style>
