body {
	padding-bottom: 40px;
}
#header {
	margin-bottom: 40px;
}

.nav img { max-height: 45px; }

.navbar-item.has-dropdown > a {
	color: rgb(255,255,255) !important;
	color: rgba(255,255,255, 0.7) !important;
}

.navbar-item.is-active {
	background-color: #EFEFEF !important;
}

.navbar-item.has-dropdown:hover > a {
	color: #00d1b2 !important;
}

.item-img {
	width: 200px;
}

figure.image img {
	object-fit: cover;
	object-position: 50% 50%;
	object-fit: cover;
}

.column {
	float: left;
}

.clear {
	clear:both
}