<template>
	<div class="container">
		<h1 class="title">Your Profile</h1>
		<div class="columns">
			<form action="" @submit.prevent="onSubmit">
				<div class="column is-half">
					<div class="card">
						<header class="card-header has-text-centered">
							<h3 class="card-header-title title is-primary">
								Profile Picture
							</h3>
						</header>
						<div class="card-image">
							<figure class="image is-square">
								<img id="profilepic" :src="user.profile_picture" alt="Image">
							</figure>
						</div>
						<div class="card-content">
							<div class="content">
								<h4 class="subtitle has-text-centered">Change Profile Picture</h4>
								<div class="file">
									<label class="file-label">
										<input class="file-input" type="file" name="resume" @change="getImage($event)">
										<span class="file-cta">
											<span class="file-label">
												Choose a file…
											</span>
										</span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card">
						<header class="card-header has-text-centered">
							<h3 class="card-header-title title clear is-primary">
								About You
							</h3>
						</header>
						<div class="card-content">
							<div class="content">
								<div class="field">
									<label class="label">Username</label>
									<div class="control">
										<input class="input" type="text" placeholder="Text input" v-model="user.username">
									</div>
								</div>
								<div class="field">
									<label class="label">emailaddress</label>
									<div class="control">
										<input class="input" type="text" placeholder="Text input" v-model="user.email">
									</div>
								</div>
								<div class="field">
									<label class="label">City</label>
									<div class="control">
										<input class="input" type="text" placeholder="Text input" v-model="user.city">
									</div>
								</div>
								<div class="field">
									<label class="label">Address</label>
									<div class="control">
										<input class="input" type="text" placeholder="Text input" v-model="user.address">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-half">
					<div class="card clear">
						<header class="card-header has-text-centered">
							<h3 class="card-header-title title clear is-primary">
								Shopping Cart
							</h3>
						</header>
						<div class="card-content">
							<h3 v-if="!latest.length" class="subtitle">No items in your shopping cart yet...</h3>
							<div v-if="latest.length" class="content">
								<sha-item v-for="item in latest" :key="item.id" :truncate="50" :dimensions="80">
									<img slot="image" src="http://bulma.io/images/placeholders/256x256.png" />
									<span class="item-title" slot="title">{{item.name}}</span>
									<span class="item-body" slot="body">{{ item.description }}</span>
									<button class="remove button is-small is-danger" @click="removeFromCart(item)">Remove</button>
								</sha-item>
								<p class="mar-top" v-if="has_more_items"><a href="#/cart">See all items</a></p>
							</div>
						</div>
					</div>
				</div>
				<button class="button is-medium is-primary is-pulled-right mar-top" type="submit">Save Changes</button>
			</form>
		</div>
	</div>
</template>

<script>
import ShaItem from '../components/ShaItem.vue';
export default {
	components: { ShaItem },
	data: () => ({
		user: "",
		latest: "",
		has_more_items: true,
	}),
	methods: {
		getImage (input) {
			console.log(input)
			let files = input.target.files;
			this.user.profile_picture = files[0];
			if (window.FileReader && files && files.length) {
				let fr = new FileReader();
				fr.onload = function () {
					document.getElementById("profilepic").src = fr.result;
				}
				fr.readAsDataURL(files[0]);
			} else {
				console.log("filereader not supported");
			}
		},
		onSubmit () {
			user.update(this.user);
		},
		removeFromCart(item) {
			user.toggleCart(item);
		}
	},
	mounted() {
			user.check().then(() => { 
				this.user = user.data.profile;  
				user.getLatestCart().then(() => {this.latest = user.data.cart});
			}, () => { router.push('/login'); });
	}
}
</script>

<style scoped>
.file-label {
	margin: 0 auto;
}
.item-title {
	font-size: 20px;
	font-weight: bold;
}
.item-body {
	font-size: 12px;
	margin-bottom: 0;
}
.mar-top{margin-top: 40px;}

</style>