<template>
	<div class="container">
		<h3 v-if="!user.cart || !user.cart.length" class="subtitle">You don't have any items in your shopping cart.</h3>
		<section v-if="user.cart" class="section">
			<h1 class="title">Items in Your Cart:</h1>
			<ul>
				<sha-item v-for="item in user.cart" :key="item.id" :truncate="150" :dimensions="100">
					<img slot="image" src="http://bulma.io/images/placeholders/256x256.png" />
					<span class="item-title" slot="title">{{item.name}}</span>
					<span class="item-body" slot="body">{{ item.description }}</span>
					<template slot="price"> {{item.price | currency }}</template>
					<button class="remove button is-danger" @click="removeFromCart(item)">Remove</button>
				</sha-item>
			</ul>
		</section>
		<hr>
		<section v-if="user.cart" class="has-text-right">
			<div class="level mar-btm">
				<div class="level-left"></div>
				<div class="level-right">
					<div class="level-item">
						<div>
						<p><span class="bold">Total Price:</span> {{totalprice | currency }}</p>
						<p><span class="bold">Shipping costs:</span> {{shipping | currency }}</p>
						<p><span class="bold">Total With Shipping:</span> {{totalprice + shipping | currency }}</p>
						</div>
					</div>
				</div>
			</div>
			<button class="button is-info">Buy all</button>
		</section>
		
	</div>
</template>

<script>
	import ShaItem from "../components/ShaItem.vue";
	import router from "../routes.js";
	export default {
		components: { ShaItem },
		data: () => ({
			user: user.data,
			totalprice: 0,
			shipping: 3.99,
		}),
		created () {
			user.check().then(() => {
				user.getCart().then(() => {
					this.user.cart.forEach(item => {
						this.totalprice += item.price;
					});
				});
			}, () => {
				routes.push('/login');
			});
		},
		filters: {
			currency (euro) {
				return "€" + euro.toFixed(2);
			}
		},
		methods: {
			removeFromCart(item) {
				user.toggleCart(item);
			}
		}
	}
</script>

<style scoped>
	.item-title {
		font-size: 20px;
		font-weight: bold;
	}
	.item-body {
		font-size: 14px;
		margin-bottom: 0;
	}
	.mar-btm {
		margin-bottom: 40px;
	}
	.bold {
		font-weight: bold;
	}
</style>