<template>
	<div class="container">
		<section class="section">
			<div class="container">
				<h1 class="title">About us</h1>
				<p>Aliquam ullamcorper iaculis mi, ultricies maximus mauris. Mauris vel euismod enim. Nunc non pharetra velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque varius at nunc ut aliquam. Sed vitae mauris gravida, venenatis ipsum ac, imperdiet dolor. Vestibulum vitae quam at orci maximus luctus in eget risus. Morbi tempor ex erat, vitae pharetra nisi dapibus vel. Phasellus nec vehicula leo, ut molestie justo. Etiam bibendum neque efficitur felis finibus, eu sagittis dui ultricies. Sed sed fringilla augue. Suspendisse tellus magna, scelerisque vel malesuada eget, placerat lacinia neque. Donec convallis convallis lectus, sollicitudin pretium sapien rutrum ac. Nunc consequat ipsum vehicula est suscipit, et hendrerit tortor iaculis. Fusce eu scelerisque ligula, vel pharetra elit.</p>
			</div>
		</section>
		<section class="section">
			<h1 class="title">Our latest items:</h1>
			<ul>
				<sha-item v-for="item in latest.items" :key="item.id" :truncate="250">
					<img slot="image" src="http://bulma.io/images/placeholders/256x256.png" />
					<template slot="title">{{item.name}}</template>
					<template slot="body">{{ item.description }}</template>
					<template slot="price"> &euro; {{item.price }}</template>
					<button v-show="current_user.isLoggedIn" @click="toggleCart(item)" :class="{'is-primary': item.user }" class="button add">
					<i v-if="!item.user" class="fa fa-shopping-cart" aria-hidden="true"></i>
					<i v-if="item.user" class="fa fa-trash" aria-hidden="true"></i>
					</button>
					<button v-show="current_user.isLoggedIn" @click="toggleFavourite(item)" :class="{'is-danger': item.favourite }" class= "button favourite"><i class="fa fa-heart" aria-hidden="true"></i></button>
				</sha-item>
			</ul>
		</section>
	</div>
</template>


<script>

import ShaItem from '../components/ShaItem.vue';

export default {
	created () {
		user.check().then(() => {
			items.getLatestItemsWithFavouritesCart(user.data.profile.id);
		}, () => {
			items.getLatest();
		});
	},
	components: { ShaItem },
	data: () => ({
		latest: items.data,
		current_user: user.data
	}),
	methods: {
		toggleFavourite(item) {
			user.check().then(() => {
				user.toggleFavourite(item).then((returnitem) => {
					Vue.set(this.latest, items.data);	
				});	
			})
		},
		toggleCart(item) {
			user.check().then(() => {
				user.toggleCart(item);
			})
		}
	}
}

</script>
<style scoped>
	
</style>