<template>
	<div class="container">
		<section class="section">
			<h1 class="title">Our amazing items</h1>
		</section>
		<section class="section">
			<sha-tabs @changed="filterItems">
			<sha-tab :selected="true" name="All Categories"></sha-tab>
			<sha-tab name="Books"></sha-tab>
			<sha-tab name="Games"></sha-tab>
			<sha-tab name="Music"></sha-tab>
			<sha-tab name="Sport"></sha-tab>
		</sha-tabs>
	</section>

	<section class="section">
		<h2 class="subtitle">{{category}}</h2>
		<ul>
			<sha-item v-for="item in filtered_items.items" :truncate="250" :key="item.id">
				<img slot="image" :src="item.item_img" />
				<template slot="title">{{item.name}}</template>
				<template slot="body">{{ item.description }}</template>
				<template slot="price">&euro; {{item.price}}</template>
				<button v-show="current_user.isLoggedIn" @click="toggleCart(item)" :class="{'is-primary': item.user }" class="button add">
					<i v-if="!item.user" class="fa fa-shopping-cart" aria-hidden="true"></i>
					<i v-if="item.user" class="fa fa-trash" aria-hidden="true"></i>
				</button>
				<button v-show="current_user.isLoggedIn" @click="toggleFavourite(item)" :class="{'is-danger': item.favourite }" class= "button favourite"><i class="fa fa-heart" aria-hidden="true"></i></button>
			</sha-item>
		</ul>
</section>
</div>
</template>


<script>

import ShaItem from '../components/ShaItem.vue';
import ShaTabs from '../components/ShaTabs.vue';
import ShaTab from '../components/ShaTab.vue';

export default {
	components: { ShaItem, ShaTabs, ShaTab },
	data() {
		return {
			category: "All Categories",
			all_items: items.data,
			filtered_items: items.data,
			current_user: user.data,
		}
	},
	created () {
		user.check().then(() => {
			items.getItemsWithFavouritesCart(user.data.profile.id);
		}, () => {
			items.getAllItems();
		});
	},
	methods: {
		filterItems(filter) {
			//create copy so original data won't be changed (method in Item.js)
			this.filtered_items = items.createCopy(this.all_items.items);
			this.category = filter;
			(filter.toLowerCase() !== "all categories" ) ? this.filtered_items.items = this.all_items.items.filter(item => item.category.toLowerCase() == filter.toLowerCase()) : this.filtered_items.items = this.all_items.items;
		},
		toggleFavourite(item) {
			user.check().then(() => {
				user.toggleFavourite(item).then(() => {
					Vue.set(this.all_items.items, items.data.items);
					Vue.delete(this.all_items.items, items.data.items);
				});	
			})
		},
		toggleCart(item) {
			user.check().then(() => {
				user.toggleCart(item).then(() => {
					Vue.set(this.all_items.items, items.data.items);
					Vue.delete(this.all_items.items, items.data.items);
				})
			})
		}
	}
}

</script>

<style scoped> 

</style>