<template>
	<div class="container">
		<div class="columns">
			<div class="column is-half is-offset-one-quarter">
				<h1 class="title">Login</h1>
				<form @submit.prevent="onSubmit">
					<div class="field">
						<label class="label">Email</label>
						<div class="control">
							<input class="input" type="email" placeholder="Email" v-model="email" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Password</label>
						<div class="control">
							<input class="input" type="password" v-model="password" required>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button class="button is-primary" type="submit">Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
import router from '../routes.js'
export default {
	mounted() {
		user.check().then(() => {
			router.push('/account');
		});

	},
	data: () => ({
		email: '',
		password: '',
		user: user,
	}),
	methods: {
		onSubmit() {
			let user_data = {email: this.email, password: this.password};
			user.login(user_data);
		}
	},
}
</script>

<style>

</style>