<template>
	<div class="container">
		<div class="columns">
			<div class="column is-half is-offset-one-quarter">
				<h1 class="title has-text-centered">Join us!</h1>
				<form name="registerform" @submit.prevent="onSubmit">
					<div class="field">
						<label class="label">Userame</label>
						<div class="control">
							<input class="input" type="text" placeholder="e.g. John Doe" v-model="username" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Email</label>
						<div class="control">
							<input class="input" type="text" placeholder="e.g. john.doe@example.com" v-model="email" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Password</label>
						<div class="control">
							<input class="input" type="password" v-model="password" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Image</label>
						<figure class="image is-128x128">
							<img id="profilepic" src="http://bulma.io/images/placeholders/128x128.png">
						</figure>
						<div class="file">
							<label class="file-label">
								<input class="file-input" type="file" name="resume" @change="getImage($event)">
								<span class="file-cta">
									<span class="file-label has-text-left">
										Upload File…
									</span>
								</span>
							</label>
						</div>
					</div>
					<div class="field submit">
						<div class="control">
							<button class="button is-primary is-medium" type="submit" @submit.prevent="onSubmit">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
</template>

<script>
import router from '../routes.js'
export default {
	mounted() {
		user.check().then(() => {
			router.push('/account');
		});

	},
	data: () => ({
		username: "",
		email: "",
		password: "",
		image: false,
	}),

	methods : {
		getImage (input) {
			console.log(input)
			let files = input.target.files;
			this.image = files[0];
			if (window.FileReader && files && files.length) {
				let fr = new FileReader();
				fr.onload = function () {
					document.getElementById("profilepic").src = fr.result;
				}
				fr.readAsDataURL(files[0]);
			} else {
				console.log("filereader not supported");
			}
		},
		onSubmit () {
			console.log(this.image);
			if(this.username != "" && this.email != "" && this.password != "") {
				let user_data = {username: this.username, email: this.email, password:this.password, profile_picture: this.image};
				user.register(user_data);
			} else {
				console.log("please fill everything in");
			}
		}
	}
}
</script>

<style scoped>

.field figure {
	margin-bottom: 10px;
}

.submit {
	margin-top: 40px;
}

#profilepic {
	width: 128px;
	height: 128px;
}



</style>