<template>
	<li class="box">
		<article class="media item">
			<figure class="media-left">
				<p class="image is-square item-img">
					<slot name="image"></slot>
				</p>
			</figure>
			<div class="media-content">
				<div class="content">
					<h1 class="title"><slot name="title"></slot></h1>
					<p v-if="this.$slots.body"><slot name="body"></slot><a class="is-size-7" href=""><br>read more</a></p>
					<p class="price"><slot name="price"></slot></p>
					<slot></slot>
				</div>
			</div>
		</article>
	</li>
</template>

<script>
export default {
	props: ['truncate', 'dimensions'],
	data: () => ({
		current_user: user.data,
	}),
	mounted() {
		console.log(this.truncate);
		if(this.truncate) {
			let text = this.$slots.body[0].elm.innerHTML || this.$slots.body[0].elm.data;
			let maxlength = this.truncate;
			if(text.length > maxlength) {
				this.$slots.body[0].elm.innerHTML = this.$slots.body[0].elm.data= text.substring(0, maxlength).trim() + "..."; 
			}
		}

		if (this.dimensions) {
			$(".item > figure").css({"margin": "0 20px 0 0"});
			$('.item .image').css("width", this.dimensions);
			$('.item content, .item h1').css('margin-bottom', "0");
		};
		
	}

}
</script>

<style scoped>
	.box {
		position: relative;
	}
	article.media {
		-webkit-align-items:center !important;
		align-items:center !important;
	}
	.media-content {
		-webkit-align-self:flex-start !important;
		align-self:flex-start !important;
	}
	.price {
		position: absolute;
		top: 20px;
		right: 30px;
	}
	.item .content p {
		margin-bottom: 0;
	}
	.remove, .add, .favourite {
		float: right;
		margin-left: 10px;
	}

	.title {
		max-width: 90%;
	}
</style>