<template>
    <div class="tabs">
        <ul role="tablist" class="tabs-component-tabs">
            <li v-for="tab in tabs" :class="{ 'is-active': tab.isActive }">
                <a @click="selectTab(tab)">{{tab.name}}</a>
            </li>
        </ul>
        <slot/>
    </div>
</template>

<script>
    export default {
        data: () => ({
            tabs: [],
        }),
        created() {
            this.tabs = this.$children;
        },
        methods: {
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name === selectedTab.name);
                });
                this.$emit('changed', selectedTab.name);
            },
        },
    };
</script>