<template>
    <div><slot></slot></div>
</template>

<script>
    export default {
        props: {
            selected: { default: false },
            name: { required: true },
        },
        data: () => ({
            isActive: false,
        }),
        created () {
        	this.isActive = this.selected;
        }
    };
</script>