<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Basic Data Binding</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
	#input {
		margin: 20px 0;
	}

</style>
<body>

	<div id="root" class="container">

		<h3>Input message:</h3>
		<input type="text" id="input" v-model="message">

		<p>User: {{first_name}} {{last_name}} <br>
		   Email: {{email}} <br>
		   Message: {{message}}
		</p>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue@2.3.4"></script>
	
	<script>
		let data = {
			first_name: 'Sharon',
			last_name: 'Meeus',
			email: 'sharon.meeus@gmail.com',
			message: 'I was here! MUAHAHAHA!!!'
		}

		new Vue({
			el: "#root",
			data: data
		})
	</script>



</body>
</html>