<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Practical Component - Tabs</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		body {
			padding: 20px 0;
		}
	</style>
</head>
<body>
	
	<div class="container" id="root">
		<s-coupon @applied="onCouponApplied"></s-coupon>
		<h1 v-if="isCouponApplied">You used a coupon!</h1>
	</div>

	<script type="text/javascript" src="https://unpkg.com/vue@2.3.4"></script>
	<script type="text/javascript" src="Ep12.js"></script>
</body>
</html>