<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Practical Component - Tabs</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		body {
			padding: 20px 0;
		}
	</style>
</head>
<body>
	
	<div class="container" id="root">
		<progress-view inline-template>
			<!-- Still need one root element! -->
			<div> 
				<h1>Your current progress is {{progressCompletion}}%.</h1>
				<button @click="progressCompletion += 10">Update progress</button>
			</div>
		</progress-view>
	</div>

	<script type="text/javascript" src="https://unpkg.com/vue@2.3.4"></script>
	<script type="text/javascript" src="Ep15.js"></script>
</body>
</html>