<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Lists</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style>
		#root {
			padding: 25px;
		}
	</style>
</head>
<body>

	<div id="root" class="container-fluid">
		
		<ul>
			<li v-for="name in names">{{name}}</li>
		</ul>

		<input type="text" v-model="newName"> <button @click="onClick">Add name</button>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue@2.3.4"></script>

	<script>
		new Vue ({

			el: "#root",
			data: {
				names: ["Ana", "Bob", "Christopher", "Diana", "Eve", "Frederik"],
				newName: ''
			},

			methods: {

				onClick: function () {

					this.names.push(this.newName);
					this.newName = '';

				}
			}

		})
	</script>
</body>
</html>