<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Computed Properties</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<style>
		div > li {
			float: left;
		}

		div i {
			margin: 0 5px;
		}

	</style>
</head>
<body>
	
	<div id="root">

		<h1>All tasks</h1>
		<ul>
			<li v-for="task in tasks" v-text="task.description"></li>
		</ul>

		<h1>Incompleted tasks</h1>
		<ul>
			<div v-for="task in incompleteTasks">
				<li v-text="task.description"></li> 
				<i @click="toggleComplete(task)" class="fa fa-check text-success" aria-hidden="true"></i>
			</div>
		</ul>

		<h1>Completed tasks</h1>
		<ul>
			<div v-for="task in completedTasks">
				<li v-text="task.description"></li>
				<i @click="toggleComplete(task)" class="fa fa-times text-danger" aria-hidden="true"></i>
			</div>
		</ul>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue@2.3.4"></script>

	<script>
		new Vue({
			el: '#root',
			data: {
				tasks:[
					{description: "Go to the store", completed: true},
					{description: "Walk the dog", completed: false},
					{description: "Learn Vue", completed: false},
					{description: "Go for a jog", completed: true},
					{description: "Create world peace", completed: false}
				]
			},
			
			methods: {
				toggleComplete: function (task) {

					task.completed = !task.completed;

				}
			},

			computed: {
				incompleteTasks: function () {
					return this.tasks.filter(task => ! task.completed);
				},

				completedTasks: function () {
				 	return this.tasks.filter(function (task) {
						return task.completed;
					})
				}
			}
		})
	</script>

</body>
</html>